# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\source\vl-internship\vl-internship-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
